# Temporary Python files
*.pyc
*.egg-info
__pycache__
.ipynb_checkpoints
setup.py
pip-wheel-metadata/

# Temporary virtual environment files
/.cache/
/.venv/

# Temporary server files
.env
.venv/
*.pid

# Generated documentation
/docs/gen/
/docs/apidocs/
/site/
/*.html
/docs/*.png

# Testing and coverage results
/prof/

# Build and release directories
/build/
/dist/
*.spec

# Sublime Text
*.sublime-workspace

# Eclipse
.settings

# pycharm settings
.idea/

# mac
.DS_Store
